<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".stt0.1" %><a href="http://www.railstutorial.org/"><em><%= t ".stt1" %></a><%= t ".stt2" %>
  <a href="http://www.railstutorial.org/book"><%= t ".stt2.1" %></a><%= t ".stt3" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".stt4" %></a>
  <%= t ".stt5" %>
  <a href="http://rubyonrails.org/"><%= t ".stt6" %></a>.
  <%= t ".stt7" %>
</p>

