<% provide :title, t(".title") %>
<h1><%= t ".sa" %></h1>
<STRONG><p><%= t ".he" %></p></STRONG>
<p>
  <%= t ".stt3" %>
  <a href="http://www.railstutorial.org/"><%= t ".stt2" %></a>
  <%= t ".stt4" %>
</p>
